<h2>Welcome to the page that only logged in users can access</h2>

<iframe src="https://giphy.com/embed/xT1R9YYeCajBym9Gfu" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/heyarnold-nicksplat-xT1R9YYeCajBym9Gfu"></a></p>